/* Inter Font Faces */
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter_24pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter_24pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Landal Brand Variables */
:root {
  --brand-color-active: #007f88;
  --brand-color-deviation-hover: #1888a6;
  --brand-color-deviation-light: #f2f4f8;
  --brand-color-deviation: #1eacd3;
  --brand-color-hover: #00676f;
  --brand-color: #0097a2;
  --brand-gradient: linear-gradient(135deg,var(--brand-color-deviation),var(--brand-color));
  --global-border-radius: 4px;
  --global-border-radius-oneandahalf: 6px;
  --global-border-radius-double: 8px;
  --global-border-radius-triple: 12px;
  --site-background-color: #fffae9;
  --color-platform-call-to-action: #f7931d;
  --color-platform-base-text: #212721;
  --brand-color-tooltip-icon: #007f88;
  --font-family-base: Inter,arial,sans-serif;
  --font-family-brand: PP-Hatton Medium,sans-serif;
  --font-family-decorative: PP-Hatton Medium,sans-serif;
  --font-family-link: Inter,arial,sans-serif;
  --font-family-button: Inter,arial,sans-serif;
  --color-dark: #212721;
  --color-light: #fff;
  --color-drab: #5b635b;
  --color-dim: #95a095;
  --color-pale: #dbd6bd;
  --color-soft: #ede8d3;
  --color-action: #e75402;
  --button-background-color: transparent;
  --button-border-color: #007f88;
  --button-border-color-hover: #00727a;
  --button-border-color-disabled: #ede8d3;
  --button-text-color-hover: #00727a;
  --button-important-background-color: #007f88;
  --button-important-border-color: #007f88;
  --button-important-background-color-hover: #00727a;
  --button-important-border-color-hover: #00727a;
  --button-action-background-color: #ec6f02;
  --button-action-background-color-hover: #e75402;
  --button-text-color: #007f88;
  --button-text-color-disabled: #95a095;
  --background-color-primary: #fffae9;
  --background-color-primary-rgb: 255 250 233;
  --background-color-secondary: #f6f1de;
  --background-color-tertiary: #95a095;
  --background-color-quaternary: #f6f1de;
  --loader-background-color: #fffae9cc;
  --day_range_background-color: #fffae9;
  --accordion-sub-text-font-weight: 700;
  --calendar-fuzzy-date-color: #95cd5b;
  --calendar-hover-color: #f0fbec;
  --calendar-hover-text-color: #5aa423;
  --calendar-is-in-range-bgcolor: #5aa42380;
  --card-qualifier-label-background-color: #5aa4231a;
  --card-qualifier-label-color: #5aa423;
  --cms-table-odd-row-background-color: #eff7fb;
  --cms-table-title-background-color: #66cef5;
  --datepicker-navigator-button-color: #008bb2;
  --discount-color: #3dae2b;
  --discount-hover-color: #2f8521;
  --favourite-icon-color: #e75402;
  --filter-bar-background: #d0e6f1;
  --highlight-box-bg: #e5f5f6;
  --image-card-background-color: #f6f1de;
  --input-text_background-color: #fff;
  --input-text_background-color-hover: #fafafa;
  --login-sidepanel-background-color: #f5f5f5;
  --media-label-background-color: var(--brand-color);
  --offer-label-color: #cdde00;
  --placeholder-color-default: #95a095;
  --regions-hover-color: #f0fbec;
  --regions-hover-text-color: #5aa423;
  --staytype-background-color: #f0fbec;
  --staytype-color: #5aa423;
  --story-item-hover-color: #0b222e;
  --summary-component-icon-background-color: #eff6e9;
  --summary-component-icon-border-color: #deedd3;
  --theme-color-primary: #0097a2;
  --site-header-navigation_background-color: #fff;
  --site-header-navigation_border-color: #ede8d3;
  --site-header-navigation_box-shadow: 0 15px 10px 0 #0000000a;
  --site-header-navigation_link_background-color: #e5e5e5;
  --site-header-navigation_link_color-hover: #000;
  --site-header-navigation_link_color: #5b635b;
  --site-header-navigation_link_font-size: 14px;
  --site-header-navigation_link_line-height: 22px;
  --site-header-sticky-height: 92px;
  --color-negative: #f74923;
  --color-positive: #5aa423;
  --color-promotion-primary: #fffae9;
  --color-promotion-text: #212721;
  --color-promotion-finetuner: #ec6f02;
  --image-hover-duration: .8s;
  --image-hover-scale: scale(1.025);
  --image-hover-timing: cubic-bezier(.165,.84,.44,1);
  --park-card-map-svg-color: #ede8d3;
  --park-card-map-svg-pointer-color: #0097a2;
  --offer-countdown-color: var(--color-promotion-primary,var(--color-discount,#fffae9));
  --offer-countdown_separator-color: var(--color-promotion-text,var(--color-dark,#000));
  --footer-top-bar-svg-color: var(--brand-color);
  --color-discount: #fffae9;

  /* Overrides */
  --brand-color-websafe: #007f88;
  --color-link: #007f88;
  --color-link-hover: #00727a;
  --title-on-dark: #fffae9;
  --background-color-dark-mode: #001823;
  --color-positive: #3dae2b;
  --color-negative: #e75402;
  --color-optional: #0097a2;
  --color-sentiment-caution: #fef6e5;
  --color-sentiment-confirmation: #ecf7ea;
  --color-sentiment-info: #e5f5f6;
  --color-sentiment-warning: #fdeee6;
  --border-color-hover: var(--input_border-color);
  --input_border-color_invalid: #e75402;
  --input_border-color: #95a095;
  --input_border-radius: 4px;
  --input_color_disabled: #bcbebc;
  --input_color_hover: var(--brand-color-websafe);
  --input_color_placeholder: #bcbebc;
  --input-field_border-color: var(--input_border-color);
  --input-field_inactive-label-color: var(--input_color_disabled);
  --input-radio_background-color_confirmation: #e5f5f6;
  --input-text_background-color_disabled: #f5f5f5;
  --label-bg-color_comfort: #dcfdff;
  --label-bg-color_comfort-extra: #dafdff;
  --label-bg-color_differentiator: #eef0ee;
  --label-bg-color_extra-luxe: #764897;
  --label-bg-color_luxe: #f1ecf6;
  --label-bg-color_qualifier: #eaf9e8;
  --label-bg-color_renewed: #eaf9e8;
  --label-bg-color_scarcity: #ffede4;
  --label-bg-color_thema: #fff7e5;
  --label-color_comfort: #0097a2;
  --label-color_comfort-extra: #007f88;
  --label-color_differentiator: #5b635b;
  --label-color_extra-luxe: #f1ecf6;
  --label-color_luxe: #764897;
  --label-color_qualifier: #3dae2b;
  --label-color_renewed: #3dae2b;
  --label-color_scarcity: #e75402;
  --label-color_thema: #212721;
  --section-color-divider: #fffae9;
  --section-color-primary: #fffae9;
  --section-color-secondary: #fffae9;
  --accordion_background-color: transparent;
  --accordion_border-color: var(--brand-color);
  --address-item_office-name-font-family: Inter,arial,sans-serif;
  --address-item_office-name-font-weight: bold;
  --alert-notification-icon-color: #007f88;
  --booking-overview-placeholder-skeleton-accent-color: var(--site-background-color);
  --booking-overview-placeholder-skeleton-accent-color-light: var(--booking-overview-placeholder-skeleton-accent-color);
  --booking-overview-placeholder-skeleton-background: #f6f1de;
  --booking-overview-placeholder-skeleton-background-light: var(--booking-overview-placeholder-skeleton-background);
  --booking-overview-placeholder-skeleton-gradient-end: var(--site-background-color);
  --booking-overview-placeholder-skeleton-gradient-end-light: var(--booking-overview-placeholder-skeleton-gradient-end);
  --booking-overview-placeholder-skeleton-gradient-start: transparent;
  --booking-overview-placeholder-skeleton-gradient-start-light: var(--booking-overview-placeholder-skeleton-gradient-start);
  --booking-overview-placeholder-skeleton-icon-color: #f6f1de;
  --booking-overview-placeholder-skeleton-icon-color-light: var(--booking-overview-placeholder-skeleton-icon-color);
  --box-wrapper_background-color: #e5f5f6;
  --box-wrapper_background-color_firefly: #001823;
  --content-block_border-radius-image: 0;
  --deals-label_font-family: PP-Hatton Bold-Capable,sans-serif;
  --decorated-list-item_selected-background-color: transparent;
  --decorated-content_border-radius--image: 0;
  --emphasized-background-border-color: #0097a2;
  --emphasized-background-color: #e5f5f6;
  --faq-search_background-color: #0b222e;
  --ibe-box-shadow: 0px 4px 40px 0px #0000000d;
  --ibe-main-header_color: #0097a2;
  --ibe-section_color: #656565;
  --image-background-border-radius: 0;
  --alternative-loader-background-color: #fffc;
  --insurance_color: #212721;
  --insurance_conditions-background-color: #f6f1de;
  --magazine_heading_color: var(--brand-color);
  --park-main-visual-map-svg-color: #f6f1de;
  --park-main-visual-map-svg-pointer-color: #007f88;
  --offer-countdown_heading-font-family: Inter,arial,sans-serif;
  --offer-countdown_heading-color: var(--color-dark);
  --offer-countdown_timer-part-color: var(--color-dark);
  --offer-label-color: #f5a800;
  --offer-label-color-hover: #ec6f02;
  --page-take-over_close-button_background-color: transparent;
  --page-take-over_close-button_box-shadow: none;
  --page-take-over_close-button_color: var(--brand-color-websafe);
  --page-take-over_close-button_right: -5px;
  --pop-in_close-button_color: var(--brand-color-websafe);
  --popup_close-button-color: var(--brand-color);
  --popup_title-color: var(--brand-color);
  --subnavigation-active-link-color: var(--color-link-hover);
  --subnavigation-child-items-border-color: var(--color-soft);
  --subnavigation-child-items-box-shadow: 0 4px 40px 0 #0000000d;
  --subnavigation-link-font-size: 14px;
  --subnavigation-link-line-height: 22px;
  --subnavigation-has-subitems-text-color: var(--color-link-hover);
  --subnavigation-link-font-family: var(--font-family-link);
  --sub-sub-navigation-mobile-popup_bottom-border-color: #0097a2;
  --top-bar_anchor-color: #fff;
  --top-bar_anchor-decoration: underline;
  --top-bar_background-color: #007f88;
  --top-bar_close-icon-color: #fff;
  --top-bar_color: #fff;
  --site-header-ibe_background-color: var(--brand-color);
  --site-header-navigation_background-color: #fffae9;
  --site-header-navigation_border-color: #dbd6bd;
  --site-header-navigation_link_background-color: #f6f1de;
  --site-header-navigation_link_color-hover: var(--brand-color-websafe);
  --site-header-navigation_link_color: #212721;
  --travel-group_combi-booking-checked_color: var(--brand-color-websafe);
  --traveler-panel_background-color: #fffae9;
  --usp-list_color: var(--usp-list_text-color);
  --usp-list_icon-color: var(--brand-color-websafe);
  --usp-list_text-color: #5b635b;
  --video-content_border-radius: 0;
  --validation-error_icon-color: #e75402;
  --persuasion-message_color: #e75402;
  --card-box-shadow: 0px 4px 40px 0px #2127210d;
  --number-of-nights_back-button_color: var(--color-link);
  --price-comparison_arrival-date-cell-color: var(--color-dark);
  --price-comparison_accommodation-name-font-family: Inter,arial,sans-serif;
  --price-comparison-accommodation-summary_summary-color: var(--color-dark);
  --price-comparison_count-label-color: var(--color-dark);
  --price-comparison_count-label-font-family: Inter,arial,sans-serif;
  --price-comparison_count-label-font-weight: 600;
  --price-comparison_price-button-color: var(--color-dark);
  --price-comparison_price-button-border-color-selected: var(--brand-color-websafe);
  --price-comparison_price-cell-background-color: var(--color-light);
  --price-comparison_tbody-border-color: #95a095;
}

/* Global CSS Reset and Base Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-platform-base-text);
}

#app {
  width: 100%;
  height: 100vh;
}

/* Prevent body scroll when modals are open */
body.modal-open {
  overflow: hidden;
}
